.hero {
    height: 500px;
}
.header-image {
    background-image: url("cover.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: auto;
    background-color: #c4e8c4;
}        
@media (max-width:  768px) { 
.header-image { 
	background-image: url("cover-mobile.jpg");
	font-size:16px;
	height: auto;
	background-position: center center; 
	background-color: #c4e8c4;   
}
}           
